<!DOCTYPE html>
<html>
	<head>
		<title>About Pandas</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="static/styles.css">
	</head>
	
	<body>
		<li><a href="/">Back</a></li>
		<h1>Pandas</h1>
		<p>hi again again</p>
		<ul>
			<li>they're big white/black and angry</li>
			<li>like the yinyang but more deadly</li>
		</ul>
		<img src="static/xi.jpg" alt="Xi" width="500px">
		<p>- President Xi, the current President of the Republic of China, which has some unknown relation to pandas, making it slightly related to this page.</p>
	</body>
</html>