<!DOCTYPE html>
<html>
	<head>
		<title>About US Presidents</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="static/styles.css">
	</head>
	
	<body>
		<li><a href="/">Back</a></li>
		<h1>US Presidents</h1>
		<p>hi again again again</p>
		<ul>
			<li>they're big regular coloured and angry</li>
			<li>like the constitution but more deadly</li>
		</ul>
		<img src="static/joever.jpg" alt="Joseph" width="500px">
		<p>- Ex-US President Joseph Biden, who is now despondent and believes that the effort is "Joever"</p>
		<img src="static/barack.png" alt="Barack" width="500px">
		<p>- Ex-US President Barack Obama, who is responding to Joseph's claim and encouraging him that the effort is not "Joever" but in fact "Barack"</p>
	</body>
</html>